<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= display_team_owner(@team) %>
</p>

<%= link_to 'Edit', edit_team_path(@team), class: "btn btn-warning btn-sm" %> |
<%= link_to 'Back', teams_path,class: "btn btn-secondary btn-sm" %>
