<% team_id = params[:team_id] %>
<% project_id = params[:project_id]%>
<h1>Editing Task</h1>

<%= form_for([@team,@project,@task]) do |form| %>
  <%= render "form", {form: form} %>
 <% end %>
 <div class="container">
<%= link_to 'Show', team_project_task_path(team_id,project_id,@task) %> |
<%= link_to 'Back', team_project_tasks_path(team_id,project_id) %>
</div>
