<% team_id = params[:team_id] %>
<% project_id = params[:project_id] %>

<h1>Tasks</h1>
<%= render "/shared/tasks", {team_id: team_id,project_id: project_id} %>

<br>

<%= link_to 'New task', new_team_project_task_path(params[:team_id],params[:project_id]),class:"btn btn-primary" %>
