<h1>New Task</h1>

<%= form_for([@team,@project,@project.tasks.build]) do |form| %>
  <%= render "form", {form: form} %>
<% end %>

<div class="container">
  <%= link_to 'Back', team_project_tasks_path(@team,@project) %>
</div>
