<div class="row">
  <div class="col-md-8">
    <h4> Why you should use Project Management App for your projects </h4>
  </div>
  <div class="col-md-4">
    <h5>Sign up today  </h5>
    <%= link_to "Sign up",new_user_registration_path, class: "btn btn-primary" %>

  </div>
</div>
