<% current_user.projects.each do |project| %>
  <h5><%= link_to(project.name,project_path(project)) %></h5>
  <h6><span class="badge badge-secondary">Team :</span> <%= project.team.name %> </h6>
  <h6><span class="badge badge-secondary">Created by :</span> <%= project.user.full_name %></h6>
  <hr/>
  <% end %>
