<% Team.all.where(user_id: current_user).each do |team| %>
  <div class="alert alert-success">
    <h5><%= team.name %></h5>
    <strong><%= pluralize(2, 'member') %>  </strong>
  </div>
  <hr/>
<% end %>
