<% current_user.teams.each do |team| %>
  <div class="alert alert-primary">
    <h5><%= link_to(team.name, team_path(team)) %></h5>
    <% team_users_count = team.users.count %>
    <h6 class="badge badge-secondary"><%= pluralize(team_users_count, 'Active Member') %></h6>  
    </br>
    <% active_members = [] %>
    <% team.users.each do |user| %>
      <% active_members << user.name %>
      <%= active_members.join(', ') %>
    <% end %>
  </div>
  <hr/>
<% end %>
