<% projects.each do |project| %>
  <h5><%= link_to(project.name,team_project_path(project.team,project)) %></h5>
  <h6><span class="badge badge-secondary">Team :</span> <%= project.team.name %> </h6>
  <%# <h6><span class="badge badge-secondary">Created by :</span> <%= project.team.name %1></h6> %>
  <hr/>
  <% end %>
