<div class="row">
  <% team.users.each do |user| %>
    <div class="col-md-4 border border-secondary">
      <div class="row">
        <div class="col-md-2">
          <h6><%=image_tag('',class: "img-responsive img-thumbnail")%></h6>
        </div>
        <div class="col-md-9">
          <h6><strong><%=user.full_name %></h6></strong>
          <h6><%=user.email %></h6>
          <h6><%= user.created_at.strftime("%b %d,%Y") %></h6>
        </div>
      </div>
    </div>
  <% end %>
</div>
