<div class="row">
  <% team.users.each do |user| %>
    <div class="col-md-4 border border-secondary">
      <div class="row">
        <div class="col-md-2">
          <%= gravatar_image_tag(user.email,size:'48x48',class:'img-rounded',gravatar: {default: 'localhost:3000/default_gravatar.jpeg'}) %>
        </div>
        <div class="col-md-8">
          <h6><strong><%=user.name %></h6></strong>
          <h6><%=user.email %></h6>
          <h6><%= user.created_at.strftime("%b %d,%Y") %></h6>
        </div>
      </div>
    </div>
  <% end %>
</div>
